{{ define "main" }}
<div class="home">
    <p>
        {{ $.Site.Params.description }}
    </p>
    <p class="contacts">
        {{ if $.Site.Params.github }}
            <a href="https://github.com/{{ $.Site.Params.github }}"><i data-feather="github"></i></a>
        {{ end }}
        {{ if $.Site.Params.twitter }}
            <a href="https://twitter.com/{{ $.Site.Params.twitter }}"><i data-feather="twitter"></i></a>
        {{ end }}
        {{ if $.Site.Params.mail }}
            <a href="mailto:{{ $.Site.Params.mail }}"><i data-feather="mail"></i></a>
        {{ end }}
        <!-- <a href="https://samirettali.com/index.xml"><i data-feather="rss"></i></a> -->
    </p>
</div>
<script src="/js/feather.min.js"></script>
<script>feather.replace()</script>
{{ end }}
