:root {
    --accent-color: #ee0000;
    --darker-accent-color: #a20000;
    --grey-color: #66758c;

}

body {
    font-family: "Fira Sans", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Arial, sans-serif, "Apple Color Emoji",
                 "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Home */
.home {
    text-align: center;
    font-size: 1.2em;
}

.home p {
    margin-top: 3rem;
}

.home svg {
    margin: .2rem;
}

/* Images */
img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto; /* Needed ? */
}

/* Code */
code, pre {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    border-radius: 4px;
}

/* Posts lists */
ul.posts-list {
    list-style: none;
    display: table;
    padding-left: 0;
    line-height: 1.8em;
}

ul.posts-list > li {
    display: table-row;
}
 
ul.posts-list > li > * {
    display: table-cell;
    padding-right: .75em;
    padding-bottom: .25em;
}
 
ul.posts-list time {
    color: var(--grey-color);
    white-space: nowrap;
    text-align: right;
    font-family: "Fira Code", "Roboto Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
}

/* Blockquotes */
body .post blockquote {
    width: 100%;
    font-style: italic;
}

header {
    margin-top: 1em;
    margin-bottom: 2em;
}
