<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class="px-2">
        <div class="container grid-md">
            <div class="columns">
                <!-- <div class="column col-6 col-md-8 col-sm-10 col-xs-12 col-mx-auto"> -->
                <div class="column">
                    {{ partial "nav.html" . }}
                    <main>
                        {{ block "main" . }}{{ end }}
                    </main>
                    {{ partial "footer.html" . }}
                </div>
      </div>
      </div>
  </body>
</html>
