{{ define "main" }}
<div class="home">
    <p>
        Hi, I'm Samir and I'm a Computer Science student living in Turin, Italy. I
        love programming and I play CTFs. I mainly post my <a href="writeups">writeups</a> on the blog.
    </p>
    <p class="contacts">
        <a href="https://github.com/samirettali"><i data-feather="github"></i></a>
        <a href="https://twitter.com/samirettali"><i data-feather="twitter"></i></a>
        <a href="mailto:ettali.samir@gmail.com"><i data-feather="mail"></i></a>
    </p>
    <script src="/js/feather.min.js"></script>
    <script>feather.replace()</script>
</div>
{{ end }}
