<head>
    {{ if .Site.Params.enableGoogleAnalytics }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/spectre.min.css">
    <link rel="stylesheet" href="/css/spectre-exp.min.css">
    <link rel="stylesheet" href="/css/spectre-icons.min.css">

    <link rel="stylesheet" href="/css/theme.css">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap" rel="stylesheet">
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
