/* .article img {
  max-width: 100%;
  display: block;
} */

.article p {
	@apply my-6 !important;
}

/* Target the first paragraph under a title */
.article h2 + p {
  @apply mt-2 !important;
}

.article img {
	@apply rounded !important;
}

.article pre code {
  @apply p-8 !important;
	@apply rounded-lg !important;
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
}

.article code {
	@apply rounded;
}

.article p code,
.article ol code,
.article ul code {
	@apply py-0.5 !important;
	@apply px-1 !important;
}

.article ol {
	@apply list-disc;
	@apply list-inside;
}

.article ol li {
	@apply ml-6;
}
