@tailwind base;
@tailwind components;
@tailwind utilities;

@import "inter-ui/inter.css";
@import "jetbrains-mono";

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
    @apply mt-8;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
  }

  body {
    @apply font-sans !important;

    @apply text-base;
    /* @apply lg:text-lg; */

    @apply bg-white;
    @apply text-coolGray-800;
    @apply dark:bg-olive;
    @apply dark:text-coolGray-200;
  }

  body,
  pre
  {
    @apply transition-all;
  }

  a {
    @apply transition;
    @apply text-blue-500;
    @apply hover:text-blue-800;
  }

  blockquote {
    @apply py-4;
    @apply pr-2;
    @apply italic;
    @apply font-light;
    @apply rounded;
    @apply bg-gray-100;
    @apply dark:bg-mygray-secondary;
    @apply border-l-8;
    @apply border-gray-300;
    @apply dark:border-gray-700;
  }

  blockquote p {
    @apply ml-4;
  }

  blockquote p:first-child {
    @apply pt-0;
    @apply mt-0;
  }

  blockquote p:last-child {
    @apply pb-0;
    @apply mb-0;
  }

  /* .dark hr { */
  /*   @apply border-gray-900; */
  /* } */
}

html {
  letter-spacing: -.01em;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  @apply text-coolGray-500;
  @apply text-lg;
  @apply dark:text-coolGray-400;
  @apply font-medium !important;
}

.nav-link-active {
  @apply text-coolGray-800;
  @apply text-lg;
  @apply dark:text-coolGray-200;
  @apply font-medium !important;
}

.nav-link:hover {
  @apply hover:text-coolGray-800;
  @apply dark:text-coolGray-200 !important;
}

.nav-brand {
  @apply text-2xl;
  @apply text-coolGray-800 !important;
  @apply font-semibold !important;
  @apply dark:text-coolGray-200 !important;
}

.nav-brand:hover {
  @apply text-coolGray-500 !important;
  @apply dark:text-trueGray-100;
}


